body {
    background-color: #0e1818 !important;
}

a {
    color: var(--bg-purple);
}

#shout {
    width: 650px;
    max-width: 100%;
    padding: 2rem 0;
}

    #shout div.title {
        font-size: 280%;
        font-family: monospace;
        line-height: 1;
    }

    #shout p {
        font-size: 1.5rem;
        color: #c2fbbf;
        line-height: 1.8;
    }

    #shout .btn {
        --bs-btn-color: #c2fbbf;
        --bs-btn-border-color: #c2fbbf;
        --bs-btn-hover-bg: #c2fbbf;
        --bs-btn-hover-border-color: #c2fbbf;
    }

.techs-item {
    border-top: 1px dashed white;
}

    .techs-item:nth-child(even) {
        flex-direction: row-reverse !important;
        text-align: right;
    }

#fixed-clone {
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px dashed white;
}

h4 .smaller {
    font-size: 0.9rem;
}

.techs-container a {
    color: lightgrey;
}

#swirlies {
    position: fixed;
    bottom: 0;
    z-index: -2;
    width: 40%;
    max-width: 100%;
    max-width: min(100%, 725px);
}
