body {
    background-color: #18161a !important;
}

#fsa-preview {
    width: 400px;
    height: 350px;
    height: calc(300px + 3rem);
    float: right;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

    #fsa-preview iframe {
        width: 1200px;
        height: 880px;
        scale: 0.333;
        transform-origin: top left;
        overflow: hidden;
    }

    #fsa-preview #fsa-caption {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #fsa-preview #fsa-link {
        position: absolute;
        top: 10px;
        right: 10px;
    }

._ImageView, ._ImageView-max {
    border: 1px dotted white;
}

    ._ImageView:hover {
        border: 1px solid white;
    }
