.banner {
    padding: 2rem;
    background-size: cover !important;
    background-attachment: fixed !important;
}

    .banner.green-banner {
        background: url("images/banner_green.svg") no-repeat;
    }

    .banner.orange-banner {
        background: url("images/banner_orange.svg") no-repeat;
    }

    .banner.blue-banner {
        background: url("images/banner_blue.svg") no-repeat;
    }

    .banner.blue-banner {
        background: url("../images/banner_blue.svg") no-repeat;
    }

/********/

:root {
    --bg-purple: #8c708b;
    --bg-light-purple: #a49898;
    --text-mid-dark: #bdbdbd;
}

html, body {
    box-sizing: border-box;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

html, body, .content {
    font-family: system-ui, sans-serif;
    color: white;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    padding: 0 5%;
}

    body .content {
        margin: 0 auto;
        max-width: 80rem;
    }

.content .top-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
    margin-top: 2rem;
    border-top: 2px solid var(--bg-light-purple);
    border-bottom: 2px solid var(--bg-light-purple);
}

    .content .top-bar .brand {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
    }

        .content .top-bar .brand h4 {
            margin: auto 0;
            font-family: monospace;
            min-width: 20rem;
        }

    .content .top-bar .page-links {
        display: flex;
        width: 25rem;
        margin-left: auto;
    }

        .content .top-bar .page-links a:nth-child(1) {
            margin-left: 0;
        }

        .content .top-bar .page-links a {
            padding: 0.5rem 0.6rem;
            margin-left: auto;
            background: var(--bg-purple);
            color: white;
            text-decoration: none;
        }

            .content .top-bar .page-links a .page-icon {
                display: inline-block;
                margin: -0.5rem -0.6rem;
                margin-right: 0.7rem;
                padding: 0.5rem 0.6rem;
                background: white;
                color: var(--bg-purple);
            }

.content .blink-cursor {
    display: inline-block;
    width: 0.8rem;
    height: 0.6rem;
    vertical-align: baseline;
    margin: 0 2px;
    background: var(--bg-purple);
}

.content .bottom-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 3rem 0;
    margin-top: 2rem;
    border-top: 2px solid var(--bg-light-purple);
}

    .content .bottom-bar .credit {
        margin-left: auto;
    }

        .content .bottom-bar .credit a {
            background: var(--bg-purple);
            color: white;
        }

.content .page-body {
    display: block;
    padding: 2rem 0.5rem;
    width: 100%;
}

.code-preview {
    tab-size: 2;
    max-height: 386px;
    overflow-y: auto;
    border-radius: 3px;
    background: #3d494f;
    color: #e2edff;
    font-weight: 700;
    padding: 2px;
    max-width: 540px;
    overflow-x: auto;
    border: 0.5px solid #ffffff52;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: black;
}

.nav-tabs {
    margin-bottom: 0;
}

@media only screen and (max-width: 960px) {
    .content .top-bar {
        flex-direction: column;
    }

        .content .top-bar .page-links {
            width: 100%;
            margin-left: 0;
            margin-top: 2rem;
        }

            .content .top-bar .page-links a {
                padding: 0.5rem 0.3rem;
            }

                .content .top-bar .page-links a .page-icon {
                    margin: -0.5rem -0.3rem;
                    padding: 0.5rem 0.3rem;
                    margin-right: 0.3rem;
                }

    body {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 560px) {
    .content .top-bar {
        padding: 1rem 1rem;
        font-size: 0.7rem;
    }
}
